@import "colors";
@import "mediaquery";
.brandlogo {
  background-color: transparent;
  // border-left:none  !important;
  // border-right:none  !important;
  // border-top: 1px solid $EEE;
  // border-bottom: 1px solid $EEE;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px    20px;
  flex-wrap: wrap;
  gap: 2rem;
  @include mobile{
    justify-content: space-around;
  }
  img{
    width: 99px;
    filter: grayscale(100%);
    @include mobile{
      width: 83px;
    }
  }
}
.brandlogo-container{
    border-left:none  !important;
  border-right:none  !important;
}