$primary: orange;
$white: #fff;
$darkBorder: #2d2f40;
$black: #000;
$gray: #585b6a;
$blue: #181c31;
$lightgray: #757693;
$lightWhite: #fbfbfb;
$EEE: #eee;
$lightBlue: #edf5ff;
$lightblue: #006bff;
$green: #20c5a8;
$gray2: #9ca3af;
