@import "mediaquery";
.contact-form {
  background: linear-gradient(0deg, #f8f9ff 0%, #dee7ff 100%);
  border-radius: 8px;
  padding: 74.17px 5px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  @include desktop {
    flex-direction: column-reverse;
    gap: 1rem;
    justify-content: flex-start !important;
  }
  @include mobile {
    width: 96%;
  }
  position: relative;
  z-index: 2;
  top: 0px;
  left: 0px;
  margin-bottom: 7.5rem;
  .contact-dot {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    border-radius: 8px;
    left: 0px;
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
}
.form-box {
  background-color: $white;
  width: 63%;
  border-radius: 8px;
  padding: 61.57px 60px 57.74px 60px;

  .h3 {
    margin-bottom: 3.75rem !important;
  }
  .input-box {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    margin-bottom: 1.875rem;
    input{
      width: 46%;
    }
  }
  textarea {
    margin-top: 3.125rem;
    margin-bottom: 2.875rem;
  }
  .form-bottom {
    display: flex;
    gap: 3.75rem;
    flex-wrap: wrap;
    button {
      display: flex;
      align-items: center;
      font-weight: 500;
      padding: 0.75rem 1.5rem;
      gap: 0.625rem;
    }
    .check-box {
      display: flex;
      align-items: flex-start;
      gap: 20px;

      p {
        max-width: 423px;
      }
    }
  }
  @include desktop {
    width: 98%;
  }
  @include tablet {
    padding: 61.57px 30px 57.74px 30px;
    .h3 {
      margin-bottom: 0rem !important;
    }
    .input-box {
      margin-bottom: 0px;
      gap: 2rem;
    }
  }
}
.contact-details {
  @include desktop {
    width: 100%;
    padding: 0px 20px;
  }
  .h3 {
    margin-bottom: 3.125rem !important;
  }
  .p1 {
    margin-bottom: 1rem;
  }
  .p2 {
    max-width: 237.22px;
    margin-bottom: 1.75rem;
  }
}
