@import "colors";
@import "mediaquery";
.featureTab {
  border: 1px solid $EEE;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(45, 74, 170, 0.08);
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  @include tablet {
    display: block !important;
    // margin-left: 15px;
    width: 96%;
    // margin-right: 15px;
  }
  .nav-link {
    border: none !important;
    background-color: transparent   !important;
    display: flex;
    justify-content: center;
    // &:hover {
    // }
  }
  .nav-link.active {
    border: none !important;

    position: relative;
    &::after {
      border-radius: 4px 4px 0px 0px;
      background-color: $lightblue;
      position: absolute;
      bottom: -11px;
      left: 63px;
      width: 74%;
      height: 4px;
      content: "";
      @include mobile{
        bottom: -1px;
      }
    }
  }
}

.tabs-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  .p2{
    font-weight: 500;
  }
}
.feature-tabs-box {
  position: relative;
  padding-top: 4.625rem;
  // border: 1px solid red;
  @include mobile{
  padding-top: 0px;

  }
  .product-feature {
    padding-top: 4.375rem;
    @include tablet {
      padding-top: 1rem;
    }
  }
  .doted-image {
    width: 96%;
    position: absolute;
    top: 0px;
    z-index: -1;
    right: 0px;
  }
}
