@import "mediaquery";
.pricing-plan {
  border: 1px solid $EEE;
  box-shadow: 0px 8px 30px 0px rgba(45, 74, 170, 0.06);
  background-color: $white;
  width: max-content;
  border-radius: 8px;
  padding: 3.125rem;
  position: relative;
  .smallText{
    font-size:14px;
    font-weight: 500;
  }
  .popular-tag {
    background-color: $lightblue;
    position: absolute;
    top: 31px;
    padding: 6px 18px;
    right: -7px;
    border-radius: 9999px 0px 0px 9999px;
    transform: rotate(-90deg);
  }
  .p2 {
    max-width: 267px;
  }
  .horizontal-line {
    width: 100%;
    height: 2px;
    background-color: $EEE;
    margin-top: 2.25rem;
    margin-bottom: 3.125rem;
  }
  .plan-details {
    .p2 {
      margin-bottom: 1rem;
    }
  }
  .h1 {
    margin-bottom: 1.875rem !important ;
  }
  .p3 {
    margin-bottom: 0.625rem;
  }
  .pric-title {
    display: flex;
    align-items: baseline;
    gap: 10px;
    .p2 {
      font-weight: 800;
    }
  }
  .get-plan {
    text-decoration: none;
    padding-top: 2.5rem;
    display:flex;
    gap:12px;
    svg{
      font-size: 20px;
      margin-top: 2px;
    }
    .p2 {
      font-weight: 600;
    }
  }
}
.price-plan-box {
  display: flex;
  gap: 3.125rem;
  justify-content: center;
  padding-bottom: 7.5rem;
  @include mobile {
    padding-bottom: 3rem;
  }
  position: relative;
  flex-wrap: wrap;
  .plan-dot {
    position: absolute;
    bottom: 48px;
    left: 0px;
    height: 350px;
    object-fit: cover;
    z-index: -1;
    width: 100%;
  }
}
.payment-modal{
  display: flex;
  gap: 20px;
  flex-direction: column;
  input{
    width: 100%;

  }
}