@import "colors";
@import "mediaquery";
.services-card {
  box-shadow: 0px 6px 90px 0px rgba(8, 14, 40, 0.04);

  background: rgba(255, 255, 255, 0);
  // background: red;
  width: 450px;
  border-radius: 8px;
  min-height:323px ;
  padding: 3.125rem;
  h5 {
    margin-top: 1.875rem;
    white-space: nowrap;
    margin-bottom: 1.25rem !important;
    @include mobile {
      margin-top: 20px;

      margin-bottom: 10px !important;
    }
  }
  .icon-box {
    background-color: $lightblue;

    display: flex;
    width: 64px;
    height: 64px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    @include mobile {
      width: 54px;
      height: 54px;
    }
    border-radius: 4px;
    img {
      width: 100%;
    }
  }
}
.services-box {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  gap: 3.125rem;
  // flex-wrap: wrap;
  @include desktop {
    flex-wrap: wrap;
    gap: 1.5rem;

    justify-content: center;
  }
}
.top-space {
  margin-top: 3.125rem;
  @include desktop {
    margin-top: 1.125rem;
  }
}
.all-services-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 35px;
  row-gap: 35px;
  // border: 1px solid red;
  @include desktop {
    grid-template-columns: repeat(2, auto);
  }
  @include tablet {
    grid-template-columns: repeat(1, 100%);
  }
  .services-card {
    width: auto;
  }
}
