@import "colors";

// for dark mode

.dark {
  .bg {
    background-color: #181c31 !important;
  }
  .menu-icon {
    path {
      stroke: #fff !important;
    }
  }
  .card-header {
    background-color: #252a42 !important;
    border-bottom: 1px solid $darkBorder !important;
  }
  .logo-color {
    color: #fff;
  }
  .light-bg {
    background-color: $blue;
  }
  .mode-icon {
    color: #fff;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h6 {
    color: #fff;
  }
  .bg2 {
    background-color: #252a42;
    background: #252a42;
  }
  .dark-white-text {
    color: #fff !important;
  }
  .bg3 {
    background-color: $darkBorder !important;
  }
  .border-color {
    border: 1px solid $darkBorder;
  }
}

// for light mode
.light {
  .h1,
  .h2,
  .h3,
  .h4,
  .h6 {
    color: $blue;
  }
  .menu-icon {
    path {
      stroke: #181c31 !important;
    }
  }
  .bg {
    background-color: #fff !important;
    color: #000;
    background-color: $lightWhite;
  }
  .mode-icon {
    color: $lightgray;
  }
  .border-color {
    border: 1px solid $EEE;
  }
  .card-header {
    background-color: $white !important;
    border-bottom: 1px solid $white;
  }
}
