@import "bootstrap/dist/css/bootstrap.min.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
.dark .bg {
  background-color: #181c31 !important;
}
.dark .card-header {
  background-color: #252a42 !important;
  border-bottom: 1px solid #2d2f40 !important;
}
.dark .logo-color {
  color: #fff;
}
.dark .light-bg {
  background-color: #181c31;
}
.dark .mode-icon {
  color: #fff;
}
.dark .h1,
.dark .h2,
.dark .h3,
.dark .h4,
.dark .h6 {
  color: #fff;
}
.dark .bg2 {
  background-color: #252a42;
  background: #252a42;
}
.dark .dark-white-text {
  color: #fff !important;
}
.dark .bg3 {
  background-color: #2d2f40 !important;
}
.dark .border-color {
  border: 1px solid #2d2f40;
}

.light .h1,
.light .h2,
.light .h3,
.light .h4,
.light .h6 {
  color: #181c31;
}
.light .bg {
  background-color: #fff !important;
  color: #000;
  background-color: #fbfbfb;
}
.light .mode-icon {
  color: #757693;
}
.light .border-color {
  border: 1px solid #eee;
}
.light .card-header {
  background-color: #fff !important;
  border-bottom: 1px solid #fff;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-logo img {
  width: 26px;
}
.header-logo h5 {
  font-size: 33px;
}

.link-wrapper {
  margin-left: 94px;
}
.link-wrapper .active {
  color: #006bff !important;
}

@media (max-width: 982px) {
  .menu-icon-wrapper {
    flex-direction: row;
  }
}

@media (max-width: 982px) {
  .navbar-collapse {
    display: flex;
  }
}
@media (max-width: 982px) {
  .navbar-collapse {
    box-shadow: 0px 8px 30px 0px rgba(45, 74, 170, 0.06);
    padding: 0px 20px 20px 20px;
    border-radius: 8px;
  }
  .navbar-collapse .link-wrapper {
    margin-left: 0px;
  }
}

.navbar-toggler {
  border: none !important;
}

.header-box {
  border-bottom: 1px solid #eee;
}

.theme-mode {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
.theme-mode svg {
  font-size: 20px;
}

.input-box {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
.input-box input {
  box-shadow: 0px 2px 10px 0px rgba(122, 135, 167, 0.05);
}

.image-box {
  position: relative;
}
.image-box .shape1 {
  position: absolute;
  top: 0px;
  left: -46px;
}
@media (max-width: 982px) {
  .image-box .shape1 {
    display: none;
  }
}
.image-box .hero-image {
  max-width: 624px;
  box-shadow: 0px 10px 120px 0px rgba(45, 74, 170, 0.1);
}
@media (max-width: 1400px) {
  .image-box .hero-image {
    max-width: 537px;
  }
}
@media (max-width: 1200px) {
  .image-box .hero-image {
    max-width: 463px;
  }
}
@media (max-width: 982px) {
  .image-box .hero-image {
    display: none !important;
  }
  .image-box .hero-image .shape1 {
    display: none !important;
  }
}

.hero-section-box {
  display: flex;
  padding: 110px 0px 88px 0px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 982px) {
  .hero-section-box {
    justify-content: flex-start;
    padding: 45px 15px 40px 15px;
  }
}
.hero-section-box h1 {
  margin-bottom: 1.25rem !important;
  font-size: 52px;
  line-height: 66px;
}
@media (max-width: 1400px) {
  .hero-section-box h1 {
    max-width: 500px;
    font-size: 34px;
    line-height: 48px;
  }
}
@media (max-width: 1200px) {
  .hero-section-box h1 {
    max-width: 463px;
    font-size: 24px;
    line-height: 36px;
    margin-top: 10px;
  }
}
.hero-section-box p {
  max-width: 630px;
}
@media (max-width: 1400px) {
  .hero-section-box p {
    max-width: 500px;
  }
}
@media (max-width: 1200px) {
  .hero-section-box p {
    max-width: 448px;
  }
}

.brandlogo {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 20px;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 600px) {
  .brandlogo {
    justify-content: space-around;
  }
}
.brandlogo img {
  width: 99px;
  filter: grayscale(100%);
}
@media (max-width: 600px) {
  .brandlogo img {
    width: 83px;
  }
}

.brandlogo-container {
  border-left: none !important;
  border-right: none !important;
}

.core-feature-box {
  width: 100%;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}
@media (max-width: 982px) {
  .core-feature-box {
    padding-top: 5.5rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 600px) {
  .core-feature-box {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
  }
}
.core-feature-box .core-warpper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
@media (max-width: 600px) {
  .core-feature-box .core-warpper h1,
  .core-feature-box .core-warpper button {
    margin-bottom: 12px !important;
  }
}
.core-feature-box p {
  max-width: 643px;
  padding: 0px 10px;
}
.core-feature-box h1 {
  margin-bottom: 1rem !important;
  max-width: 695px;
}
.core-feature-box button {
  text-transform: uppercase !important;
  margin-bottom: 1rem;
}

.knowMoreProduct .core-feature-box {
  padding-bottom: 3rem;
}

.services-card {
  box-shadow: 0px 6px 90px 0px rgba(8, 14, 40, 0.04);
  background: rgba(255, 255, 255, 0);
  width: 100%;
  border-radius: 8px;
  min-height: 323px;
  padding: 3.125rem;
  cursor: pointer;
}
.services-card h5 {
  margin-top: 1.875rem;
  white-space: nowrap;
  margin-bottom: 1.25rem !important;
}
@media (max-width: 600px) {
  .services-card h5 {
    margin-top: 20px;
    margin-bottom: 10px !important;
  }
}
.services-card .icon-box {
  background-color: #006bff;
  display: flex;
  width: 64px;
  height: 64px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
@media (max-width: 600px) {
  .services-card .icon-box {
    width: 54px;
    height: 54px;
  }
}
.services-card .icon-box img {
  width: 100%;
}

.services-box {
  display: flex;
  align-items: center;
  gap: 3.125rem;
}
@media (max-width: 1200px) {
  .services-box {
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
}

.top-space {
  margin-top: 3.125rem;
}
@media (max-width: 1200px) {
  .top-space {
    margin-top: 1.125rem;
  }
}

.all-services-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 35px;
  row-gap: 35px;
}
@media (max-width: 1200px) {
  .all-services-box {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 982px) {
  .all-services-box {
    grid-template-columns: repeat(1, 100%);
  }
}
.all-services-box .services-card {
  width: auto;
}

.new-btn-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1rem 0px;
}
@media (max-width: 982px) {
  .new-btn-box {
    padding: 5px 0px;
  }
}

.circle-box {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 982px) {
  .circle-box {
    width: 50px;
    height: 50px;
  }
}

.feature-list {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1.875rem;
}

.product-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7.5rem;
  gap: 8.125rem;
}
@media (max-width: 600px) {
  .product-feature {
    padding-top: 4rem;
  }
}
.product-feature h1 {
  max-width: 500px;
  margin-bottom: 1.5rem !important;
}
@media (max-width: 600px) {
  .product-feature h1 {
    margin-bottom: 0.4rem !important;
  }
}
.product-feature .growth-para {
  max-width: 530px;
  padding: 0px 10px;
}
.product-feature .p3 {
  font-weight: 400;
}
.product-feature .product1 {
  width: 532px;
  box-shadow: 0px 10px 120px 0px rgba(45, 74, 170, 0.1);
}
@media (max-width: 1200px) {
  .product-feature .product1 {
    width: 400px;
  }
}
@media (max-width: 982px) {
  .product-feature .product1 {
    display: none;
  }
}
.product-feature .topspace {
  margin-top: 1.25rem;
}
.product-feature a {
  text-decoration: none;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-top: 1.875rem;
}
.product-feature a .p2 {
  color: #181c31;
}

.featureTab {
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(45, 74, 170, 0.08);
  border-radius: 10px;
}
@media (max-width: 982px) {
  .featureTab {
    display: block !important;
    width: 96%;
  }
}
.featureTab .nav-link {
  border: none !important;
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  padding: 15px 0px 15px 0px;
}
.featureTab .nav-link.active {
  border: none !important;
  position: relative;
}
.featureTab .nav-link.active::after {
  border-radius: 4px 4px 0px 0px;
  background-color: #006bff;
  position: absolute;
  bottom: 0px;
  left: 63px;
  width: 74%;
  height: 4px;
  content: "";
}
@media (max-width: 982px) {
  .featureTab .nav-link.active::after {
    bottom: 0px;
  }
}

.tabs-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tabs-button .p2 {
  font-weight: 500;
}

.feature-tabs-box {
  position: relative;
  padding-top: 4.625rem;
}
@media (max-width: 600px) {
  .feature-tabs-box {
    padding-top: 0px;
  }
}
.feature-tabs-box .product-feature {
  padding-top: 4.375rem;
}
@media (max-width: 982px) {
  .feature-tabs-box .product-feature {
    padding-top: 1rem;
  }
}
.feature-tabs-box .doted-image {
  width: 96%;
  position: absolute;
  top: 0px;
  z-index: -1;
  right: 0px;
}

.truested-by {
  margin-top: 10.625rem;
  background-image: linear-gradient(0deg, #f8f9ff 0%, #dee7ff 100%);
  position: relative;
  text-align: center;
  border-radius: 8px;
  padding: 6.875rem 0px;
}
@media (max-width: 600px) {
  .truested-by {
    margin-top: 5.625rem;
  }
}
.truested-by .dotetimage {
  position: absolute;
  border-radius: 8px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 96%;
}
.truested-by .cartoon-vector {
  position: absolute;
  top: -98px;
  left: 0px;
}
@media (max-width: 600px) {
  .truested-by .cartoon-vector {
    width: 256px;
  }
}
.truested-by .wave {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.truested-by .trusted-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0px;
  z-index: 1;
}
.truested-by .trusted-header .p2 {
  max-width: 637.08px;
  margin-top: 1rem;
}
.truested-by .p3 {
  font-size: 22px;
  color: #757693;
  font-weight: 400;
}
@media (max-width: 600px) {
  .truested-by .p3 {
    font-size: 15px;
    line-height: 27px;
  }
}
.truested-by .truested-warpper {
  display: flex;
  justify-content: center;
  gap: 10.625rem;
  flex-wrap: wrap;
  margin-top: 4.375rem;
}
@media (max-width: 982px) {
  .truested-by .truested-warpper {
    gap: 1rem;
  }
}

.social-box {
  position: relative;
}
.social-box .social-dot {
  position: absolute;
  bottom: 124px;
  left: 0px;
  width: 100%;
  height: 377px;
  -o-object-fit: cover;
     object-fit: cover;
}
.social-box .social-img {
  width: 100%;
}

.socila-icon-box {
  height: 300px;
  position: relative;
}
.socila-icon-box .orange-circle {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 56%;
  left: 30%;
  background-color: #EF5C00;
  border-radius: 100%;
}
@media (max-width: 600px) {
  .socila-icon-box .orange-circle {
    top: 39%;
    left: 27%;
  }
}
.socila-icon-box .yellow-circle {
  width: 11px;
  height: 11px;
  position: absolute;
  top: -3%;
  background-color: #ffdb26;
  border-radius: 100%;
  left: 50%;
}
.socila-icon-box .blue-circle {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 44%;
  left: 70%;
  background-color: #016BFF;
  border-radius: 100%;
}
.socila-icon-box .icon-circle {
  width: 84px;
  height: 73px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 11%;
  left: 30%;
}
.socila-icon-box .icon-circle img {
  width: 60px;
}
@media (max-width: 600px) {
  .socila-icon-box .icon-circle img {
    width: 50px;
  }
}
.socila-icon-box .icon-circle .web {
  width: 70px;
}
@media (max-width: 600px) {
  .socila-icon-box .icon-circle .web {
    width: 60px;
  }
}
@media (max-width: 600px) {
  .socila-icon-box .icon-circle {
    left: 0%;
  }
}
.socila-icon-box .androide {
  position: absolute;
  top: 40%;
  left: 50%;
}
@media (max-width: 600px) {
  .socila-icon-box .androide {
    top: 50%;
    left: 45%;
  }
}
.socila-icon-box .ios {
  position: absolute;
  top: 10%;
  left: 70%;
}
@media (max-width: 600px) {
  .socila-icon-box .ios {
    left: 80%;
  }
}

.join-with-us-box {
  background: linear-gradient(0deg, #f8f9ff 0%, #dee7ff 100%);
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  margin-top: 4rem;
  margin-bottom: 7.5rem;
  align-items: center;
  flex-wrap: wrap;
}
.join-with-us-box .join-wrapper {
  max-width: 572.91px;
}
.join-with-us-box h2 {
  margin-bottom: 1rem !important;
}
.join-with-us-box button {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  gap: 0.625rem;
}
@media (max-width: 1200px) {
  .join-with-us-box {
    padding: 3.125rem;
  }
  .join-with-us-box .join-vector {
    display: none;
  }
}
@media (max-width: 982px) {
  .join-with-us-box {
    justify-content: flex-start;
    margin-top: 0rem;
    margin-bottom: 3.5rem;
  }
  .join-with-us-box button {
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .join-with-us-box {
    width: 95%;
  }
}

.faqs-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .faqs-box {
    justify-content: flex-start;
  }
}
.faqs-box .faqs-doted {
  position: absolute;
  top: 13px;
  left: 84px;
  width: 87%;
  z-index: -1;
  height: 289px;
  -o-object-fit: cover;
     object-fit: cover;
}
.faqs-box .p2 {
  font-weight: 500;
  color: #181c31;
}
.faqs-box h1 {
  max-width: 500px;
}
@media (max-width: 1400px) {
  .faqs-box h1 {
    max-width: 471px;
  }
}
@media (max-width: 1200px) {
  .faqs-box h1 {
    max-width: 100%;
    justify-content: flex-start;
  }
}
.faqs-box a {
  margin-top: 1rem;
}

.accrodion-header {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  cursor: pointer;
}
.accrodion-header .p1 {
  color: #181c31;
  max-width: 400px;
}

.accordion-box {
  box-shadow: 0px 12px 120px 0px rgba(45, 74, 170, 0.06);
  width: 552.5px !important;
  border-radius: 8px;
}
@media (max-width: 1200px) {
  .accordion-box {
    width: 100% !important;
    margin-top: 3rem;
  }
}
.accordion-box .card {
  border: none !important;
}
.accordion-box .card-header {
  padding: 30px 36px;
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.accordion-box .card-header:first-child {
  border-top: none;
}
.accordion-box .card-body {
  padding: 30px 36px;
  border-bottom: 1px solid #eee;
}
.accordion-box .card-body .p2 {
  color: #757693;
  font-weight: 400;
}

.testmonial-card {
  box-shadow: 0px 12px 30px 0px rgba(45, 74, 170, 0.06);
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 36px 36px 36px;
  width: 592.5px;
}
@media (max-width: 1400px) {
  .testmonial-card {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .testmonial-card {
    width: 400px;
  }
}
@media (max-width: 982px) {
  .testmonial-card {
    width: 95%;
  }
}
.testmonial-card .testimonial-header {
  display: flex;
  width: 100%;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.testmonial-card .testimonial-header img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}
.testmonial-card .testimonial-header .p1 {
  margin-bottom: 0.375rem;
}

.slick-dots li button:before {
  width: 20px !important;
  height: 20px;
  font-size: 10px;
  color: gray;
}

.slick-dots li.slick-active button:before {
  color: #006bff;
}

.slick-list {
  padding: 10px 20px 51px 20px;
}

.pricing-plan {
  border: 1px solid #eee;
  box-shadow: 0px 8px 30px 0px rgba(45, 74, 170, 0.06);
  background-color: #fff;
  width: -moz-max-content;
  width: max-content;
  border-radius: 8px;
  padding: 3.125rem;
  position: relative;
}
.pricing-plan .smallText {
  font-size: 14px;
  font-weight: 500;
}
.pricing-plan .popular-tag {
  background-color: #006bff;
  position: absolute;
  top: 31px;
  padding: 6px 18px;
  right: -7px;
  border-radius: 9999px 0px 0px 9999px;
  transform: rotate(-90deg);
}
.pricing-plan .p2 {
  max-width: 267px;
}
.pricing-plan .horizontal-line {
  width: 100%;
  height: 2px;
  background-color: #eee;
  margin-top: 2.25rem;
  margin-bottom: 3.125rem;
}
.pricing-plan .plan-details .p2 {
  margin-bottom: 1rem;
}
.pricing-plan .h1 {
  margin-bottom: 1.875rem !important;
}
.pricing-plan .p3 {
  margin-bottom: 0.625rem;
}
.pricing-plan .pric-title {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.pricing-plan .pric-title .p2 {
  font-weight: 800;
}
.pricing-plan .get-plan {
  text-decoration: none;
  padding-top: 2.5rem;
  display: flex;
  gap: 12px;
}
.pricing-plan .get-plan svg {
  font-size: 20px;
  margin-top: 2px;
}
.pricing-plan .get-plan .p2 {
  font-weight: 600;
}

.price-plan-box {
  display: flex;
  gap: 3.125rem;
  justify-content: center;
  padding-bottom: 7.5rem;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .price-plan-box {
    padding-bottom: 3rem;
  }
}
.price-plan-box .plan-dot {
  position: absolute;
  bottom: 48px;
  left: 0px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  width: 100%;
}

.contact-form {
  background: linear-gradient(0deg, #f8f9ff 0%, #dee7ff 100%);
  border-radius: 8px;
  padding: 74.17px 5px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  position: relative;
  z-index: 2;
  top: 0px;
  left: 0px;
  margin-bottom: 7.5rem;
}
.contact-form .contact-dot {
  position: absolute;
  z-index: -1;
  bottom: 0px;
  border-radius: 8px;
  left: 0px;
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .contact-form {
    flex-direction: column-reverse;
    gap: 1rem;
    justify-content: flex-start !important;
  }
}
@media (max-width: 600px) {
  .contact-form {
    width: 96%;
    margin-bottom: 2.5rem;
  }
}

.form-box {
  background-color: #fff;
  width: 63%;
  border-radius: 8px;
  padding: 61.57px 60px 57.74px 60px;
}
.form-box .h3 {
  margin-bottom: 3.75rem !important;
}
.form-box .input-box {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 1.875rem;
}
.form-box .input-box input {
  width: 46%;
}
.form-box textarea {
  margin-top: 3.125rem;
  margin-bottom: 2.875rem;
}
.form-box .form-bottom {
  display: flex;
  gap: 3.75rem;
  flex-wrap: wrap;
}
.form-box .form-bottom button {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  gap: 0.625rem;
}
.form-box .form-bottom .check-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.form-box .form-bottom .check-box p {
  max-width: 423px;
}
@media (max-width: 1200px) {
  .form-box {
    width: 98%;
  }
}
@media (max-width: 982px) {
  .form-box {
    padding: 61.57px 30px 57.74px 30px;
  }
  .form-box .h3 {
    margin-bottom: 0rem !important;
  }
  .form-box .input-box {
    margin-bottom: 0px;
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .form-box {
    padding: 41.57px 30px 40px 30px;
  }
}

@media (max-width: 1200px) {
  .contact-details {
    width: 100%;
    padding: 0px 20px;
  }
}
.contact-details .h3 {
  margin-bottom: 3.125rem !important;
}
.contact-details .p1 {
  margin-bottom: 1rem;
}
.contact-details .p2 {
  max-width: 237.22px;
  margin-bottom: 1.75rem;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 6.25rem 0px;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
}
@media (max-width: 982px) {
  .footer-box {
    padding: 4rem 0px;
    flex-direction: column;
  }
}
.footer-box .p4 {
  color: #9ca3af;
  text-transform: lowercase;
}
.footer-box .footer-warapper {
  width: 400px;
}
@media (max-width: 982px) {
  .footer-box .footer-warapper {
    width: -moz-max-content;
    width: max-content;
  }
}
.footer-box .footer-warapper .footer-text {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  max-width: 311px;
}
.footer-box .footer-link .p6 {
  margin-bottom: 2.25rem;
}
.footer-box .footer-link .p2 {
  margin-bottom: 0.75rem;
  font-size: 15px;
}
.footer-box .footer-link a {
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .footer-bottom {
    padding-bottom: 20px;
  }
}
.footer-bottom a {
  text-decoration: none;
}
.footer-bottom .footer-icon {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
@media (max-width: 600px) {
  .footer-bottom .footer-icon {
    gap: 2rem;
  }
}
.footer-bottom .footer-icon svg {
  font-size: 30px;
  color: #757693;
}
.footer-bottom .footer-bottom-link {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.75rem 0px;
}
@media (max-width: 600px) {
  .footer-bottom .footer-bottom-link {
    padding: 20px 0px;
  }
}
@media (max-width: 982px) {
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
  }
  .footer-bottom .footer-icon {
    margin-top: 20px;
  }
}

body {
  scroll-behavior: smooth;
  transition: 0.1s;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px !important;
}

a {
  text-decoration: none;
}

.rounded {
  border-radius: 100px !important;
}

.header-link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #757693 !important;
  margin-right: 18px;
}

.link1 {
  display: flex;
  gap: 0.625rem;
  text-decoration: none;
  align-items: center;
}
.link1 svg {
  margin-top: 2px;
}

.get-plan {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.text-gray {
  color: #006bff;
}

.round-btn {
  background-color: orange;
  color: #fff;
  border: none;
  font-family: "Inter";
  border-radius: 100px;
  font-weight: 400;
  font-size: 15px;
  padding: 9px 25px 8px 25px;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 600px) {
  .round-btn {
    padding: 9px 20px 10px 20px;
    font-size: 12px;
  }
  .round-btn img {
    width: 15px;
  }
}

.btn2 {
  background-color: #edf5ff;
  color: #181c31;
  border: none;
  font-family: "Inter";
  border-radius: 100px;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 15px 8px 15px;
}

.btn3 {
  background-color: #20c5a8;
  color: #fff;
  border: none;
  font-family: "Inter";
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  padding: 4px 17.94px 4px 18px;
}

.light-blue {
  background-color: #006bff !important;
}

.bg-blue {
  background-color: #181c31;
}

.p1 {
  color: #585b6a;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 1400px) {
  .p1 {
    font-size: 16px;
  }
}

.p2 {
  color: #585b6a;
  font-family: "Inter";
  font-weight: 400;
  color: #757693;
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 1400px) {
  .p2 {
    font-size: 14px;
    line-height: 24px;
  }
}

.p3 {
  color: #181c31;
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
@media (max-width: 982px) {
  .p3 {
    font-size: 16px;
    line-height: 27px;
  }
}

.p4 {
  color: #fff;
  font-family: "Inter";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
}

.uppercase {
  text-transform: uppercase !important;
}

.p6 {
  color: #181c31;
  font-family: "Inter";
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
}
@media (max-width: 1400px) {
  .p6 {
    font-size: 20px !important;
  }
}

.h1 {
  color: #181c31;
  font-family: "Inter";
  font-weight: 700;
  font-size: 44px;
  line-height: 58px;
}
@media (max-width: 1400px) {
  .h1 {
    font-size: 34px;
    line-height: 48px;
  }
}
@media (max-width: 1200px) {
  .h1 {
    font-size: 24px;
    line-height: 36px;
  }
}

.h2 {
  color: #181c31;
  font-family: "Inter";
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
}
@media (max-width: 982px) {
  .h2 {
    font-size: 34px;
    line-height: 45px;
  }
}
@media (max-width: 600px) {
  .h2 {
    font-size: 27px;
    line-height: 38px;
  }
}

.h3 {
  color: #181c31;
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
}
@media (max-width: 982px) {
  .h3 {
    font-size: 30px;
  }
}

.h4 {
  color: #181c31;
  font-family: "Inter";
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}
@media (max-width: 600px) {
  .h4 {
    font-size: 20px;
  }
}

.input1 {
  border-radius: 100px;
  padding: 10px 20px 11px 20px;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 0px 6px 20px 0px rgba(45, 74, 170, 0.05);
}
.input1::-moz-placeholder {
  color: rgba(117, 118, 147, 0.6);
  font-weight: 500;
  font-size: 15px;
}
.input1::placeholder {
  color: rgba(117, 118, 147, 0.6);
  font-weight: 500;
  font-size: 15px;
}

.input2 {
  border-radius: 0px;
  border: none;
  color: #181c31;
  border-bottom: 1px solid #eee;
  padding: 0px 0px 0.875rem 0px;
  background-color: transparent;
  box-shadow: none !important;
  width: 100%;
}
.input2::-moz-placeholder {
  color: rgba(117, 118, 147, 0.6);
  font-weight: 500;
  font-size: 15px;
}
.input2::placeholder {
  color: rgba(117, 118, 147, 0.6);
  font-weight: 500;
  font-size: 15px;
}
.input2::-moz-placeholder {
  color: #9ca3af;
  font-weight: 500;
}
.input2::placeholder {
  color: #9ca3af;
  font-weight: 500;
}

.text-blue {
  color: #006bff !important;
}

.text-dark-blue {
  color: #181c31;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: #eee;
}/*# sourceMappingURL=globalstyle.css.map */